<div class="container">

  <div class="row player-title text-center my-5">
    <p> Players</p>
 </div>
    <div class="row my-5 mx-auto" style="width: 90%;">

    <div class="card mx-3 my-5" style="width: 15rem;">
        <div class="card-body">
          <h5 class="card-title text-center">Moh. Salah</h5>
          <h5 class="card-text text-center">11</h5>
          <h5 class="card-title text-center">Forward</h5>
        </div>
      </div>
      <div class="card mx-3 my-5" style="width: 15rem;">
        <div class="card-body">
          <h5 class="card-title text-center">Moh. Salah</h5>
          <h5 class="card-text text-center">11</h5>
          <h5 class="card-title text-center">Forward</h5>
        </div>
      </div><div class="card mx-3 my-5" style="width: 15rem;">
        <div class="card-body">
          <h5 class="card-title text-center">Moh. Salah</h5>
          <h5 class="card-text text-center">11</h5>
          <h5 class="card-title text-center">Forward</h5>
        </div>
      </div><div class="card mx-3 my-5" style="width: 15rem;">
        <div class="card-body">
          <h5 class="card-title text-center">Moh. Salah</h5>
          <h5 class="card-text text-center">11</h5>
          <h5 class="card-title text-center">Forward</h5>
        </div>
      </div>
    </div>
    <div class="row my-5 ">
        <button type="button" class="btn btn-danger mx-auto" routerLink='/add-player'>Add Player</button>
    </div>
</div>

