<div class="container">
    <div class="row register-title text-center my-5">
        <p> Register</p>
     </div>
     <div class="row form-box mx-auto">
         <div class="col">
            <form [formGroup]="registerForm">
                <div class="row mx-5 mt-5">
                    <input class="input-box mx-auto" id="first-name" type="text" formControlName="firstName" placeholder="First Name">
                </div>

                <div class="row mx-5 mt-4">
                    <input class="input-box mx-auto" id="last-name" type="text" formControlName="lastName" placeholder="Last Name">
                </div>

                <div class="row mx-5 mt-4">
                    <div class="col">
                          
                            <select class="custom-select">
                                <option value="">Choose Position</option>
                                <option *ngFor="let pos of positions" [ngValue]="pos">{{pos}} </option>
                            </select>
                    </div>

                    <div class="col">
                                <input class=" mx-auto" id="jNumber" type="text" formControlName="jNumber" placeholder="Jersey Number">
                    </div>
                </div>
              </form>
         </div>
     </div>
</div>

