<div class="container">
    <div class="row matches-title text-center my-5">
       <p> Matches</p>
    </div>
    <div class="row">
        <div class="row match-rows mx-auto my-2" routerLink='/match-detail'>
            <p class="my-auto py-2">Liverpool Vs Real Madrid</p>
        </div>
        <div class="row match-rows mx-auto my-2">
            <p class="my-auto py-2">Liverpool Vs Real Madrid</p>
        </div>
        <div class="row match-rows mx-auto my-2">
            <p class="my-auto py-2">Liverpool Vs Real Madrid</p>
        </div>
        <div class="row match-rows mx-auto my-2">
            <p class="my-auto py-2">Liverpool Vs Real Madrid</p>
        </div>
        <div class="row match-rows mx-auto my-2">
            <p class="my-auto py-2">Liverpool Vs Real Madrid</p>
        </div>
        <div class="row match-rows mx-auto my-2">
            <p class="my-auto py-2">Liverpool Vs Real Madrid</p>
        </div>

    </div>

    <div class="row">
        <div class="row my-5 ">
            <button type="button" class="btn btn-danger mx-auto" routerLink='/add-match'>Add Match</button>
        </div>
    </div>
</div>
