<div class="container">
    <div class="row match-score">
        <p>Real Madrid 3 - 5 Barcelona</p>
    </div>
    <div class="row match-details">
        <div class="row match-date mt-3"><p>23-10-2021 , 5:45 PM</p></div>
        <div class="row match-loc"><p>At Stamford Bridge, London</p></div>
        <div class="row match-result"><p>Lost by 2 Goals</p></div>
    </div>
    <div class="row players-title">
        <p>Players</p>
    </div>
    <div class="row">
        <div class="col">
        <div class="row player-name">
            <p class="my-auto py-1"> 07 | Christiano Ronaldo</p>
        </div>
        <div class="row player-name mt-2">
            <p class="my-auto py-1"> 07 | Christiano Ronaldo</p>
        </div>
        <div class="row player-name mt-2">
            <p class="my-auto py-1"> 07 | Christiano Ronaldo</p>
        </div>
        <div class="row player-name mt-2">
            <p class="my-auto py-1"> 07 | Christiano Ronaldo</p>
        </div>
        <div class="row player-name mt-2">
            <p class="my-auto py-1"> 07 | Christiano Ronaldo</p>
        </div>
        <div class="row player-name mt-2">
            <p class="my-auto py-1"> 07 | Christiano Ronaldo</p>
        </div>
    </div>
    </div>

</div>
