<div class="container">
    <div class="row match-score">
        <p>{{team[0]}}&nbsp; &nbsp;{{ score[0]}} &nbsp;&nbsp;- &nbsp;&nbsp;{{score[1]}} &nbsp;&nbsp;{{team[1]}}</p>
    </div>
    <div class="row match-details">
        <div class="row match-date mt-3"><p>{{match.datetime}}</p></div>
        <div class="row match-loc"><p>{{match.place}}</p></div>
        <div class="row match-result"><p>{{resultString}}</p></div>
    </div>
    <div class="row players-title">
        <p>Players</p>
    </div>
    <div class="row">
        <div class="col">
        <div class="row player-name my-3" *ngFor="let p of match.players">
            <p class="my-auto py-1"> {{p.jerseyNumber}} &nbsp; | &nbsp; {{p.firstName}} &nbsp; {{p.lastname}}</p>
        </div>
        
    </div>
    </div>

</div>
